@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  background: linear-gradient(138deg, #211a47 0%, #121727 51.76%, #211a47 100%);
  font-family: "Inter", sans-serif;
}

label:has(input[type="radio"]:checked) {
  background: #845eee !important;
  color: #fff;
  border: 1px solid #fff;
}

.main-container-wrapper {
  min-height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-container {
  width: 402px;
  /* height: 310px; */
  display: flex;
  flex-direction: column;
  background: rgba(77, 85, 98, 0.5);
  color: #fff;
  border: 1px solid #4d5562;
  border-radius: 10px;
  padding: 23px;
  justify-content: center;
}

.main-container .button {
  display: flex;
  justify-content: center;
}

.main-container button {
  margin-top: 10px;
  width: 150px;
  border: none;
  background: #845eee;
  padding: 10px;
  border-radius: 30px;
  color: #fff;
  font-size: 12px;
}

.container h2 {
  font-size: 20px;
}

.container label {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  color: #a1a1a9;
}

.container p {
  font-size: 12px;
  color: #a1a1a9;
}

.container .summary {
  padding-left: 5px;
  color: #fff;
  font-size: 14px;
}

.container input {
  display: block;
  width: 90%;
  font-size: 12px;
  color: #a1a1a9;
  background: transparent;
  border: 2px solid #4d5562;
  border-radius: 10px;
  padding: 10px 10px;
  margin-bottom: 20px;
  outline: none;
}

.container input:focus-visible {
  border: 2px solid #845eee;
  outline: none;
}

label input[type="radio"] {
  opacity: 0;
}

.radio-input {
  border: 2px solid #4d5562;
  border-radius: 10px;
  background: #a1a1a91f;
  position: relative;
  padding: 5px 10px;
}

.container.radio-input.radio-checked {
  background: #845eee; 
  color: #fff; 
  border: 1px solid #fff;
}


.radio-input span {
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 13px;
}